<head>
<title>
CattlepainterNational
</title>
</head>
<h1>Welcome to Cattlepainter National</h1>
<hr/>
<p><i>Fully licensed cattle painters since 2006</i></p>
<h3>Current cattle painting jobs:</h3>
{% if job_list %}
    <table>
      <tr>
        <th>Flock count</th>
        <th>Species</th>
        <th>Due date</th>
      </tr>
    {% for job in job_list %}
        <tr>
        <td>{{ job.amount}}</td>
        <td>{{ job.cattle_species.name}}</td>
        <td>{{ job.due_date}}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No cattle painting jobs scheduled.</p>
{% endif %}
<hr/>
<p><b>This month's special: Rainbow theme!</b></p>

{% load staticfiles %}
<img src="{% static "paintjobs/Rainbow_cow.jpg" %}" alt="Rainbow cow"/>

<p><i>Lead- and toluene-free paints available on request.</i></p>

<p>
We have diversified!
<ul>
    <li><a href="/raise">Raise an exception!</a></li>
    <li><a href="/oom/256">Allocate 256MB!</a></li>
    <li><a href="/oom">Or 512MB!</a></li>
    <li><a href="/faffing/45">Faff about for 40 seconds!</a></li>
    <li><a href="/faffing">Or 60!</a></li>
    <li><a href="/stdout">Say something on stdout!</a></li>
    <li><a href="/stderr">Or on stderr!</a></li>
    <li><a href="/testcache">Test the caching infra!</a></li>
    <li><a href="/whatscheme">Tells you what scheme I think I'm on!</a></li>
    <li><a href="/browserquotum">How much data might I store on YOU</a></li>
</ul>
</p>
